:host {
  -webkit-print-color-adjust: exact;
  position: relative;
  display: block !important;
  -webkit-touch-callout: none;
  user-select: none;
  overflow: hidden;
  height: 100vh;
  cursor: default !important;
  text-align: center;
}

.tree-roots-elements {
  position: relative;
  text-align: center;
  display: inline-block;
  transform-origin: 0 0;
  white-space: nowrap;
  cursor: default !important;
  font-size: 0;
}

.tree-node {
  position: relative;
  display: inline-block;
  margin: 15px;
  vertical-align: top;
  &:only-of-type{
    background-color: #ff4a36;
    > .line-to{
      display: none;
    }
  }
}
.tree-new-node{
  .rect{
    opacity:0.5;
    width: 200px;
    height: 100px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #dadada;
    box-sizing: border-box;
    cursor: pointer;
  }
  &:hover{
    .rect{
      opacity:1;
    }
  }
}