<div class="tree-pane"
     (mousedown)="onmousedown($event)"
     (mouseup)="onmouseup($event)"
     (mousemove)="onmousemove($event)"
     (mousewheel)="onmousewheel($event)"
>
    <div
            class="tree-paning-container"
            [style.transform]="paneTransform"
    >
        <div *ngIf="nodes"
             class="tree-roots-elements"

        >

            <div [treeDiagramNode]="node.guid"
                 class="tree-root tree-node"
                 (mousedown)="preventMouse($event)"
                 *ngFor="let node of nodes.roots"
            ></div>
            <div [treeDiagramNode]="nodeMaker"
                 (click)="newNode()"
                 (mousedown)="preventMouse($event)"
                 class="tree-root tree-new-node tree-node"
            ></div>
        </div>
    </div>

</div>